.products--grid{
  display: flex;
  flex-direction: column;
}
//for table
@media screen and (min-width: 40en) and (max-width: 63.9rn) {
  .products--grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 15px;
  }
}
@media screen and (min-width: 64en)  {
  .products--grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 15px;
  }
}


